{% extends 'base.html' %}
{% block content %}
<form action="add" method='post'>
{% csrf_token %}
Enter 1st Number : <input type="text" name="num1"><br>
Enter 2nd Number : <input type="text" name="num2"><br>
<input type="submit">
</form>
<h1> I am {{name}}.!!!!</h1>
<h1> I live in {{location}}.!!!!</h1>
<h1> I am a {{gender}}.!!!!</h1>
<h1> I have studied from  {{college}}.!!!!</h1>
<h1> I work in {{company}}.!!!!</h1>
<h1> I am {{age}} years old.!!!!</h1>
<h1> I have a bike {{bik}}.!!!!</h1>
<h1> I like to{{passion}}.!!!!</h1>
<h1> I am a {{type}} boy.!!!!</h1>

 {% endblock %}